<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthenticated</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>You are not Authenticated.</h2>
    </hgroup>
    <div class="btn-group">
        @Html.ActionLink("Login", "Index", "Home")
    </div>
</body>
</html>

